---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import ContainerSearch from '../components/ContainerSearch.astro';
import Map from "../sections/Map.astro";
import { getPosts } from "../lib/wp";
import FormRegisterConvenios from "../components/FormRegisterConvenios.astro";
import ContactMail from "../sections/ContactMail.astro";

const posts = await getPosts("4");
---

<Layout>
    <section class="w-full h-auto md:h-[70vh]">
        <div class={`flex items-center justify-center h-full w-full bg-[url('/recursos/convenios-portada.webp')] bg-cover p-5 md:p-0`}>
            <div class="max-w-5xl mx-auto w-full">
                <FormRegisterConvenios />
            </div>
        </div>
    </section>
    <section class="w-full bg-[url('/recursos/background-convenios.webp')] bg-cover">
        <div class="max-w-7xl mx-auto px-10 py-24 grid grid-cols-1 md:grid-cols-2 gap-10">
            <div></div>
            <div>
                <div class="bg-white w-[93%] p-10 shadow-lg relative">
                    <span class="absolute -top-3 left-10 w-14 h-7 bg-primary flex items-center justify-center text-white text-2xl pt-2">❛❛</span>
                    <h2 class="text-2xl font-bold">Una historia de calidad y desarrollo</h2>
                    <p class="mt-3 text-base text-black/70 ">En GastroLab, nos especializamos en ofrecer servicios de laboratorio clínico con los más altos estándares de calidad. Desde nuestra fundación, hemos trabajado con el compromiso de brindar resultados precisos y confiables.</p>
                    <p class="mt-5 text-base text-black/70 ">A lo largo de los años, hemos incorporado tecnología de vanguardia, ampliado nuestro catálogo de pruebas y fortalecido nuestro equipo de profesionales altamente capacitados.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="flex mt-32">
        <div class="w-full md:w-1/2 bg-[url('/recursos/laboratorio-medico.webp')] bg-cover">
        </div>
        <div class="w-full md:w-1/2 pl-20 p-14">
            <div class="max-w-xl mr-14">
                <Title title="Certificaciones y acreditaciones" classTitle={"text-left"} positionBar={"top"} />
            </div>
            <ul class="mt-10">
                <li class="flex items-center gap-x-5">
                    <span class="w-20 h-20 bg-primary rounded-full p-4">
                        <Icon name="microscopio" class="w-full h-full text-white" />
                    </span>
                    <div>
                        <h3 class="text-lg font-bold mb-3">Lorem ipsum dolor</h3>
                        <p class="text-black/70 ">Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li class="flex items-center gap-x-5 mt-10">
                    <span class="w-20 h-20 bg-primary rounded-full p-4">
                        <Icon name="ensayo" class="w-full h-full text-white" />
                    </span>
                    <div>
                        <h3 class="text-lg font-bold mb-3">Lorem ipsum dolor</h3>
                        <p class="text-black/70 ">Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li class="flex items-center gap-x-5 mt-10">
                    <span class="w-20 h-20 bg-primary rounded-full p-4">
                        <Icon name="medico" class="w-full h-full text-white" />
                    </span>
                    <div>
                        <h3 class="text-lg font-bold mb-3">Lorem ipsum dolor</h3>
                        <p class="text-black/70 ">Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section> -->
    <section class="mt-20">
        <div class="max-w-6xl mx-auto">
            <ContainerSearch title="Busqueda de pruebas por orden alfabético" tipo="Médico" image="doctora.webp" link="/buscador" modal={false} />
        </div>
    </section>
    <section class="mt-20">
        <div class="max-w-7xl mx-auto flex items-center gap-5 my-20">
            <div class="w-full md:w-[40%] p-5">
                <Title title={posts[0].title} classTitle={"text-left"} positionBar={"top"} />
                <div class="convenio" set:html={posts[0].content}> 
                </div>
            </div>
            <div class="w-full md:w-[60%]">
                <img src="/recursos/envio-muestras.webp" alt="envío de muestras" class="w-full object-contain" />
            </div>
        </div> 
        <div class="max-w-7xl mx-auto flex items-center gap-5 my-20">
            <div class="w-full md:w-[60%]">
                <img src="/recursos/resultados.webp" alt="Resultados GastroLab" class="w-full object-contain" />
            </div>
            <div class="w-full md:w-[40%] p-5">
                <Title title={posts[1].title} classTitle={"text-left"} positionBar={"top"} />
                <div class="convenio" set:html={posts[1].content}> 
                </div>
            </div>
        </div> 
        <div class="max-w-7xl mx-auto flex items-center gap-5 my-20">
            <div class="w-full md:w-[40%] p-5">
                <Title title={posts[2].title} classTitle={"text-left"} positionBar={"top"} />
                <div class="convenio" set:html={posts[2].content}> 
                </div>
            </div>
            <div class="w-full md:w-[60%]">
                <img src="/recursos/precios-corporativos.webp" alt="Precios corporativos especiales en GastroLab" class="w-full object-contain" />
            </div>
        </div> 
    </section>
    <ContactMail />
    <Map heightMap="450" />
</Layout>

<style is:inline>
    .convenio p{
        font-size: 16px;
        margin-top: 2.5rem;
    }
    .convenio ul{
        font-size: 16px;
        margin-top: 1.25rem;
        list-style: decimal;
        padding-left: 1.25rem;
    }
</style>